doctype html
html(lang="ru")
	head
		meta(charset = 'utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
		link(href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap&subset=cyrillic" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Roboto&display=swap&subset=cyrillic" rel="stylesheet")
		link(rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css")
		link(rel="stylesheet" href="css/style.css")
		title pug
	body(class="page")
		div(class="page_header d-none d-lg-block d-xl-block")
			div(class="container")
				div(class="row")
					div(class="col-12")
						nav(class="navbar navbar-expand-lg p-0")
							div(class="collapse navbar-collapse d-flex justify-content-between")
								ul(class="navbar-nav d-flex align-items-start justify-content-start")
									li(class="nav-item active")
										a(class="nav-link" href="#")
											| Главная
									li(class="nav-item")
										a(class="nav-link" href="#")
											| Каталог
									li(class="nav-item")
										a(class="nav-link" href="#")
											| Покупателям
									li(class="nav-item")
										a(class="nav-link" href="#")
											| О компании
									li(class="nav-item")
										a(class="nav-link" href="#")
											| Контакты
								div(class="d-flex justify-content-end align-items-center")
									form(class="form__search pr-4")
										label
											input(type="text")
											button(class="search__btn")
									div(class="login pl-5")
										img(src="img/user.svg" alr="img")
										a(href="#" class="")
											| Войти
		div(class="page__header page__header_second")
			div(class="container")
				nav(class="navbar navbar-expand-lg navbar-light d-flex align-items-center  p-0")
					button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation")
						span(class="navbar-toggler-icon")
					a(href="#" class="navbar-brand col-3 col-lg-2 col-xl-2 pl-4 pl-lg-0 pl-xl-0 m-0")
							img(src="img/logo.svg" class="w-100" alt="logo")
					div(class="col-6 offset-1 justify-content-between d-none d-md-none d-sm-none d-lg-flex d-xl-flex")
						div(class="d-flex justify-content-between align-items-center")
							img(src="img/auricular-phone-symbol-in-a-circle.svg" alt="img")
							a(href="#" class="d-flex flex-column align-items-start pl-3")
								span(class="phone")
									| +7 900 000 00 00
								span(class="d-inline line_underline")
									| Заказать звонок
						span(class="d-flex align-items-center px-5")
							| Ежедневно<br>с 8:00 до 20:00


					div(class="col-7 col-lg-2 col-xl-2 offset-lg-1 offset-xl-1 p-0")
						div(class="  d-flex justify-content-end align-items-center p-0")
							a(class="order d-flex  align-items-center justify-content-between" href="#")
								div(class="order__left  d-lg-flex d-xl-flex")
									span(class="order__count")
										| 4
									img(src="img/shopping-cart.svg" alt="img")
								div(class="order__right pl-lg-5 pl-xl-5  d-flex flex-column")
									span
										| Всего
									span
										span(class="order__price")
											|	2950
										span(class="order__val")
											|  &#8381;
							div(class="d-block d-lg-none d-xl-none pl-4")
										div(class="login")
											a(href="#" class="")
												| Войти
					div(class="d-block d-lg-none d-xl-none")
						div(class="collapse navbar-collapse" id="navbarText")
							ul(class="navbar-nav mr-auto")
								li(class="nav-item active")
									a(class="nav-link" href="#")
										| Главная
								li(class="nav-item dropdown" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
									a(class="nav-link dropdown-toggle" href="#")
										| Каталог
									div(class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink")
										a(class="dropdown-item" href="#")
											| Фитосвет и лампы
										a(class="dropdown-item" href="#")
											| Бонги
										a(class="dropdown-item" href="#")
											| Тюнинг
										a(class="dropdown-item" href="#")
											| Тайники
										a(class="dropdown-item" href="#")
											| Аксессуары
										a(class="dropdown-item" href="#")
											| Вайпорайзеры
										a(class="dropdown-item" href="#")
											| Трубки
										a(class="dropdown-item" href="#")
											| Гриндеры
										a(class="dropdown-item" href="#")
											| Бумажки
										a(class="dropdown-item" href="#")
											| Стикербуки
										a(class="dropdown-item" href="#")
											| Вейп
								li(class="nav-item ")
									a(class="nav-link" href="#")
										| Покупателям
								li(class="nav-item ")
									a(class="nav-link" href="#")
										| О компании
								li(class="nav-item ")
									a(class="nav-link" href="#")
										| Контакты
		div(class="container py-3 d-block d-lg-none d-xl-none")
			div(class="row")
				div(class="col-12 d-flex justify-content-center")
					form(class="form__search pr-4")
						label
							input(type="text" class="black")
							button(class="search__btn")
		div(class="page__gradient_line")
		div(class="container category d-none d-lg-block d-xl-block")
			ul(class="row justify-content-between m-0 py-3")
				li(class="p-0")
					a(href="#")
						| Фитосвет и лампы
				li(class="p-0")
					a(href="#")
						| Бонги
				li(class="p-0")
					a(href="#")
						| Тюнинг
				li(class="p-0")
					a(href="#")
						| Тайники
				li(class="p-0")
					a(href="#")
						| Аксессуары
				li(class="p-0")
					a(href="#")
						| Вайпорайзеры
				li(class="p-0")
					a(href="#")
						| Трубки
				li(class="p-0")
					a(href="#")
						| Гриндеры
				li(class="p-0")
					a(href="#")
						| Бумажки
				li(class="p-0")
					a(href="#")
						| Стикербуки
				li(class="p-0")
					a(href="#")
						| Вейп
		div(class="container-fluid page__gradient_block slider d-none d-lg-block d-xl-block")
			div(class="row ")
				div(class="col-12 p-0 d-flex justify-content-end")
					div(id="carouselWelcome" class="carousel slide" data-ride="carousel")
						div(class="carousel-inner")
							div(class="carousel-item active")
								img(src="img/Rectangle7.png" class="d-block w-100" alt="img")
							div(class="carousel-item")
								img(src="img/Rectangle7.png" class="d-block w-100" alt="img")
			div(class="container slider__container d-flex align-items-center")
				div( class="slider__container_content d-flex flex-column justify-content-between")
					div(id="carouselWelcomeText" class="carousel slide" data-ride="carousel")
						div(class="carousel-inner")
							div(class="carousel-item active")
								span(class="slider__container__header d-block text-left")
									| Заголовок
								span(class="slider__container__description d-block text-left")
									| Описание
								a(class="btn mt-5" href="#")
									| Подробнее
							div(class="carousel-item")
								span(class="slider__container__header d-block text-left")
									| 123
								span(class="slider__container__description d-block text-left")
									| Опи32323сание
								a(class="btn mt-5" href="#")
									| Подробнее
						
					div(class="text-center")
						
						div(class="carousel__arrows d-flex justify-content-center py-3")
							a( class="carousel__arrows_prev pr-3")
								span(class="carousel__arrows_left")
							a(class="carousel__arrows_next pl-3")
								span(class="carousel__arrows_right")
		div(class="container new__items")
			div(class="row py-5")
				div(class="col-12")
					h2(class="text-center")
						| Новинки
			div(class="row")
				a(class="col-12 col-md-6 col-sm-6 col-lg-3 col-xl-3 new__items__item" href="#")
					img(src="img/puffco-peak-11024x1024.png" alt="img")
					div()
						div(class="new__items__item_option_1 d-flex justify-content-between py-2")
							span
								| Раздел
							span
								| артикул
						div(class="new__items__item_option_2 py-2 d-flex justify-content-between")
							span
								| Название товара
							p
								span
									| 36 500
								span
									| ₽
						form(class="d-flex justify-content-center")
							button(class="btn btn_not my-4")
								| В корзину
				a(class="col-12 col-md-6 col-sm-6 col-lg-3 col-xl-3 new__items__item" href="#")
					img(src="img/xy104sj05-g1.png" alt="img")
					div()
						div(class="new__items__item_option_1 d-flex justify-content-between py-2")
							span
								| Раздел
							span
								| артикул
						div(class="new__items__item_option_2 py-2 d-flex justify-content-between")
							span
								| Название товара
							p
								span
									| 36 500
								span
									| ₽
						form(class="d-flex justify-content-center")
							button(class="btn btn_not my-4")
								| В корзину
				a(class="col-12 col-md-6 col-sm-6 col-lg-3 col-xl-3 new__items__item" href="#")
					img(src="img/67191de22b61357a8dfce411f6dc5f491523727006.png" alt="img")
					div()
						div(class="new__items__item_option_1 d-flex justify-content-between py-2")
							span
								| Раздел
							span
								| артикул
						div(class="new__items__item_option_2 py-2 d-flex justify-content-between")
							span
								| Название товара
							p
								span
									| 36 500
								span
									| ₽
						form(class="d-flex justify-content-center")
							button(class="btn btn_not my-4")
								| В корзину
				a(class="col-12 col-md-6 col-sm-6 col-lg-3 col-xl-3 new__items__item" href="#")
					img(src="img/wtf6439.png" alt="img")
					div()
						div(class="new__items__item_option_1 d-flex justify-content-between py-2")
							span
								| Раздел
							span
								| артикул
						div(class="new__items__item_option_2 py-2 d-flex justify-content-between")
							span
								| Название товара
							p
								span
									| 36 500
								span
									| ₽
						form(class="d-flex justify-content-center")
							button(class="btn btn_not my-4")
								| В корзину
		div(class="container why")
			div(class="row py-5")
				div(class="col-12")
					h2(class="text-center")
						| Почему мы?
			div(class="row py-5")
				div(class="col-6 col-md-6 col-sm-4 col-lg-4 col-xl-4 why__item d-flex flex-column justify-content-center")
					img(src="img/first.svg" alt="img")
					p(class="text-center py-4")
						| Качественный товар
				div(class="col-6 col-md-6 col-sm-4 col-lg-4 col-xl-4 why__item d-flex flex-column justify-content-center")
					img(src="img/startup.svg" alt="img")
					p(class="text-center py-4")
						| Быстрая доставка
				div(class="col-6 col-md-6 col-sm-4 col-lg-4 col-xl-4 why__item d-flex flex-column justify-content-center")
					img(src="img/russia.svg" alt="img")
					p(class="text-center py-4")
						| Доставка по всей России
		div(class="container py-5")
			div(class="row py-5")
				div(class="col-12")
					h2(class="text-center")
						| Производители
			div(class="row py-5")
				a(class="col" href="#")
					img(src="img/old-story-logo.png" alt="img")
				a(class="col" href="#")
					img(src="img/clownlogo.png" alt="img")
				a(class="col" href="#")
					img(src="img/dinner_lady_logo.png" alt="img")
				a(class="col" href="#")
					img(src="img/dr-dabber-coupon-codes-300x180.png" alt="img")
				a(class="col" href="#")
					img(src="img/skunk_brand.png" alt="img")
				a(class="col" href="#")
					img(src="img/keep_calm.png" alt="img")
				a(class="col" href="#")
					img(src="img/puffit.png" alt="img")
		div(class="container new__items")
			div(class="row py-5")
				div(class="col-12")
					h2(class="text-center")
						| Хиты продаж
			div(class="row py-5")
				a(class="col-12 col-md-6 col-sm-6 col-lg-3 col-xl-3 new__items__item" href="#")
					img(src="img/puffco-peak-11024x1024.png" alt="img")
					div()
						div(class="new__items__item_option_1 d-flex justify-content-between py-2")
							span
								| Раздел
							span
								| артикул
						div(class="new__items__item_option_2 py-2 d-flex justify-content-between")
							span
								| Название товара
							p
								span
									| 36 500
								span
									| ₽
						form(class="d-flex justify-content-center")
							button(class="btn btn_not my-4")
								| В корзину
				a(class="col-12 col-md-6 col-sm-6 col-lg-3 col-xl-3 new__items__item" href="#")
					img(src="img/xy104sj05-g1.png" alt="img")
					div()
						div(class="new__items__item_option_1 d-flex justify-content-between py-2")
							span
								| Раздел
							span
								| артикул
						div(class="new__items__item_option_2 py-2 d-flex justify-content-between")
							span
								| Название товара
							p
								span
									| 36 500
								span
									| ₽
						form(class="d-flex justify-content-center")
							button(class="btn btn_not my-4")
								| В корзину
				a(class="col-12 col-md-6 col-sm-6 col-lg-3 col-xl-3 new__items__item" href="#")
					img(src="img/67191de22b61357a8dfce411f6dc5f491523727006.png" alt="img")
					div()
						div(class="new__items__item_option_1 d-flex justify-content-between py-2")
							span
								| Раздел
							span
								| артикул
						div(class="new__items__item_option_2 py-2 d-flex justify-content-between")
							span
								| Название товара
							p
								span
									| 36 500
								span
									| ₽
						form(class="d-flex justify-content-center")
							button(class="btn btn_not my-4")
								| В корзину
				a(class="col-12 col-md-6 col-sm-6 col-lg-3 col-xl-3 new__items__item" href="#")
					img(src="img/wtf6439.png" alt="img")
					div()
						div(class="new__items__item_option_1 d-flex justify-content-between py-2")
							span
								| Раздел
							span
								| артикул
						div(class="new__items__item_option_2 py-2 d-flex justify-content-between")
							span
								| Название товара
							p
								span
									| 36 500
								span
									| ₽
						form(class="d-flex justify-content-center")
							button(class="btn btn_not my-4")
								| В корзину
		footer(class="footer py-5")
			div(class="container")
				div(class="row")
					div(class="col-6 col-md-6 col-sm-6 col-lg-3 col-xl-3")
						span(class="footer__header py-4")
							| Помощь
						ul(class="d-flex  flex-column")
							li
								a(class="" href="#")
									| Оплата
							li
								a(class="" href="#")
									| Доставка
							li
								a(class="" href="#")
									| Возврат
							li
								a(class="" href="#")
									| Корзина
							li
								a(class="" href="#")
									| Блог
							li
								a(class="" href="#")
									| Контакты
					div(class="col-6 col-md-6 col-sm-6 col-lg-3 col-xl-3")
						span(class="footer__header py-4")
							| Акции
						ul(class="d-flex  flex-column")
							li
								a(class="" href="#")
									| Новинки
							li
								a(class="" href="#")
									| Лояльность
							li
								a(class="" href="#")
									| Купоны
					div(class="col-6 col-md-6 col-sm-6 col-lg-3 col-xl-3")
						span(class="footer__header py-4")
							| Оптовикам
						ul(class="d-flex  flex-column")
							li
								a(class="" href="#")
									| Регистрация
							li
								a(class="" href="#")
									| Оплата
							li
								a(class="" href="#")
									| Доставка
							li
								a(class="" href="#")
									| Описание API
							li
								a(class="" href="#")
									| Дропшиппинг
							li
								a(class="" href="#")
									| Франчайзинг
					div(class="col-12 col-md-12 col-sm-12 col-lg-3 col-xl-3")
						span(class="footer__header py-4 text-center text-lg-left")
							| Контакты
						div(class="d-flex justify-content-center")
							a(href="#" class="mx-2")
								img(src="img/003-youtube.svg" alt="img")
							a(href="#" class="mx-2")
								img(src="img/002-twitter.svg" alt="img")
							a(href="#" class="mx-2")
								img(src="img/001-instagram.svg" alt="img")
							a(href="#" class="mx-2")
								img(src="img/004-google-plus.svg" alt="img")
			div(class="container pt-5 pb-3")
				div(class="row pt-5")
					div(class="col-12 pt-5")
						p(class="footer__warning text-center")
							| МИНЗДРАВСОЦРАЗВИТИЯ РОССИИ ПРЕДУПРЕЖДАЕТ: КУРЕНИЕ ВРЕДИТ ВАШЕМУ ЗДОРОВЬЮ!



		script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
		script( src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
		script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
		script(src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js")
		script(src="js/main.js")