doctype html
html(lang="ru")
  head
    meta(charset = 'utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap&subset=cyrillic" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Roboto&display=swap&subset=cyrillic" rel="stylesheet")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css")
    link(rel="stylesheet" href="css/style.css")
    title pug
  body(class="page")
    div(class="page_header")
      div(class="container")
        div(class="row")
          div(class="col-12")
            nav(class="navbar navbar-expand-lg p-0")
              div(class="collapse navbar-collapse d-flex justify-content-between")
                ul(class="navbar-nav d-flex align-items-start justify-content-start")
                  li(class="nav-item active")
                    a(class="nav-link" href="#")
                      | Главная
                  li(class="nav-item")
                    a(class="nav-link" href="#")
                      | Каталог
                  li(class="nav-item")
                    a(class="nav-link" href="#")
                      | Покупателям
                  li(class="nav-item")
                    a(class="nav-link" href="#")
                      | О компании
                  li(class="nav-item")
                    a(class="nav-link" href="#")
                      | Контакты
                div(class="d-flex justify-content-end align-items-center")
                  form(class="form__search pr-4")
                    label
                      input(type="text")
                  div(class="login pl-5")
                    img(src="img/user.svg" alr="img")
                    a(href="#" class="")
                      | Войти
    div(class="page__header page__header_second")
      div(class="container")
        div(class="row")
          div(class="col-2")
            a(href="#")
              img(src="img/logo.svg" class="w-100" alt="logo")
          div(class="col-6 offset-1 justify-content-between d-none d-md-none d-sm-none d-lg-flex d-xl-flex")
            div(class="d-flex justify-content-between align-items-center")
              img(src="img/auricular-phone-symbol-in-a-circle.svg" alt="img")
              a(href="#" class="d-flex flex-column align-items-start pl-3")
                span(class="phone")
                  | +7 900 000 00 00
                span(class="d-inline line_underline")
                  | Заказать звонок
            span(class="d-flex align-items-center px-5")
              | Ежедневно<br>с 8:00 до 20:00


          div(class="col-2 offset-1 d-flex justify-content-center align-items-center")
            a(class="order d-flex justify-content-between align-items-center" href="#")
              div(class="order__left")
                span(class="order__count")
                  | 4
                img(src="img/shopping-cart.svg" alt="img")
              div(class="order__right pl-3 d-flex flex-column")
                span
                  | Всего
                span
                  span(class="order__price")
                    | 2950
                  span(class="order__val")
                    |  &#8381;
    div(class="page__gradient_line")
    div(class="container category")
      ul(class="row justify-content-between m-0 py-3")
        li(class="p-0")
          a(href="#")
            | Фитосвет и лампы
        li(class="p-0")
          a(href="#")
            | Бонги
        li(class="p-0")
          a(href="#")
            | Тюнинг
        li(class="p-0")
          a(href="#")
            | Тайники
        li(class="p-0")
          a(href="#")
            | Аксессуары
        li(class="p-0")
          a(href="#")
            | Вайпорайзеры
        li(class="p-0")
          a(href="#")
            | Трубки
        li(class="p-0")
          a(href="#")
            | Гриндеры
        li(class="p-0")
          a(href="#")
            | Бумажки
        li(class="p-0")
          a(href="#")
            | Стикербуки
        li(class="p-0")
          a(href="#")
            | Вейп
    div(class="container")
      div(class="row py-5")
        div(class="col-12")
          nav(aria-label="breadcrumb")
            ol(class="breadcrumb")
              li(class="breadcrumb-item")
                a(href="#")
                  | Главная
              li(class="breadcrumb-item")
                a(href="#")
                  | Бонги
              li(class="breadcrumb-item active" aria-current="page")
                  | Бонг Nautilus Bamboo 32
    div(class="container page__only")
      div(class="row")
        div(class="col-12 col-md-6 col-sm-6 col-lg-4 col-xl-4")
          div(class="page__only_first")
            img(src="img/wtf643q9.png" alt="img")
        div(class="col-12 col-md-6 col-sm-6 col-lg-4 col-xl-4 py-5 py-lg-0 py-xl-0")
          h1()
            | БОНГ NAUTILUS BAMBOO 32
          div(class="page__only_option")
            div(class="page__only_option_first py-2")
              span
                | Бренд:
              span
            div(class="page__only_option_first py-2")
              span
                | Артикул:
              span
            div(class="page__only_option_first py-2")
              span
                | Наличие:
              span
            
            section(class="pt-5")
              div(class="page__only_option_second py-2")
                span
                  | Вес:
                span
                  | 700 гр
              div(class="page__only_option_second py-2")
                span
                  | Рамеры:
                span
                  | 11.7 см x 18 см x 32см
              div(class="page__only_option_second py-2")
                span
                  | Материал:
                span
                  | Стекло
              div(class="page__only_option_second py-2")
                span
                  | Страна:
                span
                  | Китай
        div(class="col-12 col-md-12 col-sm-12 col-lg-3 col-xl-3 page__only_price d-flex flex-column align-items-end")
          div(class="pb-4")
            span(class="order__price")
              | 2950
            span(class="order__val")
              |  &#8381;
          button(class="btn")
            | В корзину 
      div(class="row")
        div(class="col-12 py-5")
          h2
            | Описание:
        div(class="col-12")
          p(class="")
            | Бонг Nautilus Bamboo 32 выполнен будто из бутылочного зеленого стекла, хотя на самом деле для его изготовления было использовано 5 миллиметровое боросиликатное стекло. Прозрачный колпак с ручками, оформлен черными пятная и черточками под морду панды. Разъем для его установки имеет формат 18,8 и расположен горизонтально.
          p(class="")
            | Устойчивым бонг Nautilus Bamboo 32 делает широкая ножка, которая поддерживает вытянутую колбу. Почти по всей ее длине идет Inline-перколятор со щелевидными прорезями. Шахта бонга фигурная с прямой вертикальной постановкой без наклонов, а диаметр ее сопла 35 мм.
    div(class="container new__items pb-5")
      div(class="row ")
        div(class="col-12")
          h2(class="text-center pb-5")
            | С этим товаром покупают
      div(class="row")
        a(class="col-12 col-md-12 col-sm-12 col-lg-3 col-xl-3 new__items__item" href="#")
          img(src="img/puffco-peak-11024x1024.png" alt="img")
          div()
            div(class="new__items__item_option_1 d-flex justify-content-between py-2")
              span
                | Раздел
              span
                | артикул
            div(class="new__items__item_option_2 py-2 d-flex justify-content-between")
              span
                | Название товара
              p
                span
                  | 36 500
                span
                  | ₽
            form(class="d-flex justify-content-center")
              button(class="btn my-4")
                | В корзину
        a(class="col-12 col-md-12 col-sm-12 col-lg-3 col-xl-3 new__items__item" href="#")
          img(src="img/xy104sj05-g1.png" alt="img")
          div()
            div(class="new__items__item_option_1 d-flex justify-content-between py-2")
              span
                | Раздел
              span
                | артикул
            div(class="new__items__item_option_2 py-2 d-flex justify-content-between")
              span
                | Название товара
              p
                span
                  | 36 500
                span
                  | ₽
            form(class="d-flex justify-content-center")
              button(class="btn my-4")
                | В корзину
        a(class="col-12 col-md-12 col-sm-12 col-lg-3 col-xl-3 new__items__item" href="#")
          img(src="img/67191de22b61357a8dfce411f6dc5f491523727006.png" alt="img")
          div()
            div(class="new__items__item_option_1 d-flex justify-content-between py-2")
              span
                | Раздел
              span
                | артикул
            div(class="new__items__item_option_2 py-2 d-flex justify-content-between")
              span
                | Название товара
              p
                span
                  | 36 500
                span
                  | ₽
            form(class="d-flex justify-content-center")
              button(class="btn my-4")
                | В корзину
        a(class="col-12 col-md-12 col-sm-12 col-lg-3 col-xl-3 new__items__item" href="#")
          img(src="img/wtf6439.png" alt="img")
          div()
            div(class="new__items__item_option_1 d-flex justify-content-between py-2")
              span
                | Раздел
              span
                | артикул
            div(class="new__items__item_option_2 py-2 d-flex justify-content-between")
              span
                | Название товара
              p
                span
                  | 36 500
                span
                  | ₽
            form(class="d-flex justify-content-center")
              button(class="btn my-4")
                | В корзину
    footer(class="footer py-5")
      div(class="container")
        div(class="row")
          div(class="col-6 col-md-6 col-sm-6 col-lg-3 col-xl-3")
            span(class="footer__header py-4")
              | Помощь
            ul(class="d-flex  flex-column")
              li
                a(class="" href="#")
                  | Оплата
              li
                a(class="" href="#")
                  | Доставка
              li
                a(class="" href="#")
                  | Возврат
              li
                a(class="" href="#")
                  | Корзина
              li
                a(class="" href="#")
                  | Блог
              li
                a(class="" href="#")
                  | Контакты
          div(class="col-6 col-md-6 col-sm-6 col-lg-3 col-xl-3")
            span(class="footer__header py-4")
              | Акции
            ul(class="d-flex  flex-column")
              li
                a(class="" href="#")
                  | Новинки
              li
                a(class="" href="#")
                  | Лояльность
              li
                a(class="" href="#")
                  | Купоны
          div(class="col-6 col-md-6 col-sm-6 col-lg-3 col-xl-3")
            span(class="footer__header py-4")
              | Оптовикам
            ul(class="d-flex  flex-column")
              li
                a(class="" href="#")
                  | Регистрация
              li
                a(class="" href="#")
                  | Оплата
              li
                a(class="" href="#")
                  | Доставка
              li
                a(class="" href="#")
                  | Описание API
              li
                a(class="" href="#")
                  | Дропшиппинг
              li
                a(class="" href="#")
                  | Франчайзинг
          div(class="col-12 col-md-12 col-sm-12 col-lg-3 col-xl-3")
            span(class="footer__header py-4 text-center text-lg-left")
              | Контакты
            div(class="d-flex justify-content-center")
              a(href="#" class="mx-2")
                img(src="img/003-youtube.svg" alt="img")
              a(href="#" class="mx-2")
                img(src="img/002-twitter.svg" alt="img")
              a(href="#" class="mx-2")
                img(src="img/001-instagram.svg" alt="img")
              a(href="#" class="mx-2")
                img(src="img/004-google-plus.svg" alt="img")  




    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script( src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js")
    script(src="js/main.js")