html {
	font-size: 10px;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	color: #000;
}
html, body {
	height: 100%;
}
a{
	font-weight: normal;
	font-size: 1.8rem;
	line-height: 21px;
	color: #000000;
	&:hover {
		color: #000;
		text-decoration: none;
	}
}
.btn {
	background: #FFD347;
	border-radius: 100px;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
	padding: 10px 30px;
}
h2 {
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	color: #303030;
}
p {
	font-weight: normal;
	font-size: 1.6rem;
	line-height: 19px;
	color: #000000;
	}
.page {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	.dropdown-menu {
		border: none;
	}
	@media (max-width: 991.98px) {
		
		.navbar-brand { 
			padding: 0;
			width: 100px; 
		}
		.navbar  {
			.order {
				    flex-grow: 0;
			}
		}
	}
	.form__search {
		.search__btn {
			border:none;
			display: block;
			background: url('../img/search.svg') no-repeat;
			position: absolute;
			top: 50%; right: 0; transform: translateY(-50%);
			width: 35px; height: 35px;
		}
		label {
			position: relative;
		}
		input[type="text"] {
			border-radius: 100px;
			background: none;
			color: #fff;
			padding: 7px 42px 7px 10px;
			font-size: 1.3rem;
			min-width: 300px;
			border: 1px solid #fff;
			position: relative;
			
			@media screen and (max-width: 991.98px) {
				min-width: auto;
			}
			&.black {
				border: 1px solid #000;
			}
		}
		@media (max-width: 991.98px){
			input[type="text"].black{
				color: #303030;
			}
		}
	}
	.page_header {
		padding: 7px 0;
		background-color: #303030;
		.nav-item {
			margin-right: 30px;
		}
		.nav-link {
			font-weight: normal;
			font-size: 1.6rem;
			line-height: 19px;
			/* identical to box height */
			padding: 0; 
			margin: 0;

			color: #FFFFFF;
		}
		
		.login {
			a {
				font-weight: normal;
				font-size: 1.6rem;
				line-height: 19px;
				color: #fff;
				margin-left: 10px;
			}
		}
	}
	.page__header_second {
		padding: 10px 0;
		a {
			color: #000;
			&:hover {
				text-decoration: none;
				color: #000;
			}
		}
		span {
			font-weight: 300;
			font-size: 1.8rem;
			line-height: 112.69%;
		}
		.line_underline {
			border-bottom: 1px solid #000;
			font-weight: 300;
			font-size: 1.6rem;
			line-height: 19px;
			color: #303030;
		}
		.phone {
			font-weight: 500;
			font-size: 1.8rem;
			line-height: 21px;
			color: #303030;
		}
		.order {

			.order__count {
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 50%;
				background: #4BB657;
				font-weight: normal;
				font-size: 1.4rem;
				line-height: 112.69%;
				width: 16px; height: 16px;
				position: absolute;
				top: 0; right: 0;
				color: #fff;
				padding: 2px;
			}
			.order__price, .order__val {
				font-weight: 500;
				font-size: 2.4rem;
				line-height: 112.69%;
				color: #000000;
			}
			
		}
		.order__left {
			position: relative;
		}
		
	}
	.page__gradient_line {
		height: 5px;
		min-height: 5px;
		background: #6DB64B;
	}
	.category {
		ul {
			padding: 0;
			li {
				list-style: none;
			}
		}
	}
	.page__gradient_block {
		background: linear-gradient(180deg, #FFED47 32.81%, #4BB657 100%);
	}
	.slider {
		position: relative;
		.carousel {
		}
		.slider__container {
			position: absolute;
			top: 0; bottom: 0;
			margin: 0 auto;
			left: 50%;
			transform: translateX(-50%);
			.slider__container_content {
				min-height: 400px;
				width: 34%;
				position: relative;
				padding: 3rem 5rem;
				background: #FFFFFF;
				box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
				.carousel {
					width: 100%;
				}
				.slider__container__header {
					font-weight: bold;
					font-size: 3.6rem;
					line-height: 42px;
					color: #303030;
				}
				.slider__container__description {
					font-weight: normal;
					font-size: 1.8rem;
					line-height: 21px;
					color: #303030;
				}
				.carousel__arrows {
					a {
						cursor: pointer;
						height: 40px;
						display: flex;
						align-items: center;
						&:hover {
							.carousel__arrows_right,
							.carousel__arrows_left {
								transition: all .25s;
								background-color: #FFD347;
								&:after{
									background-color: #FFD347;
									transition: all .25s;
								}
								&:before{
									background-color: #FFD347;
									transition: all .25s;
								}
							}							
						}
					}
					.carousel__arrows_right,
					.carousel__arrows_left  {
						cursor: pointer;
						display: block;
						width: 50px;
						height: 2px;
						background-color: #000;
						position: relative;
						transition: all .25s;

					}
					.carousel__arrows_right:after {
						position: absolute;
						content: "";
						display: block;
						right: 0;
						width: 20%;
						height: 2px;
						background-color: #000;
						transform-origin: 100% 100%;
						transform: rotate(45deg);
						transition: all .25s;
					}
					.carousel__arrows_right:before {
						position: absolute;
						content: "";
						display: block;
						right: 0;
						width: 20%;
						height: 2px;
						background-color: #000;
						transform-origin: 100% 100%;
						transform: rotate(-45deg);
						transition: all .25s;
					}
					.carousel__arrows_left:after {
						position: absolute;
						content: "";
						display: block;
						left: 0;
						width: 20%;
						height: 2px;
						background-color: #000;
						transform-origin: 0% 0%;
						transform: rotate(45deg);
						transition: all .25s;
					}
					.carousel__arrows_left:before {
						position: absolute;
						content: "";
						display: block;
						left: 0;
						width: 20%;
						height: 2px;
						background-color: #000;
						transform-origin: 0% 0%;
						transform: rotate(-45deg);
						transition: all .25s;
					}
				}
			}
		}
	}
	.new__items {
		img { width: 100%; }
		padding-top: 70px;
		.new__items__item {

			.btn { 
				visibility: hidden;
			}
			&:hover {
				z-index: 999;
				background: #FFFFFF;
				box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
				border-radius: 10px;
				.btn {
					visibility: visible;
				}
			}
			.new__items__item_option_1 {
				border-bottom: 1px solid #ACACAC;
				span {
					font-weight: normal;
					font-size: 1.4rem;
					line-height: 16px;
					text-align: right;
					color: #ACACAC;
				}
			}
			.new__items__item_option_1 {
				font-weight: normal;
				font-size: 1.6rem;
				line-height: 19px;
				color: #000;
			}
		}
	}
	.why {
		.why__item p {
			font-weight: normal;
			font-size: 1.8rem;
			line-height: 112.69%;
		}
	}

	.footer {
		flex: 0 0 auto;
		background-color: #F2F2F2;
		.footer__header {
			display: block;
			font-weight: 500;
			font-size: 1.8rem;
			line-height: 112.69%;
			text-transform: uppercase;
			padding-bottom: 10px;
		} 
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			li {
				padding-bottom: 6px;
			}
		}
		.footer__warning {
			font-family: Roboto;
			font-style: normal;
			font-weight: 500;
			font-size: 1.8rem;
			line-height: 112.69%;
			/* or 20px */

			text-transform: uppercase;

			color: #D1D1D1;
		}
	}
	.breadcrumb {
		background: none;padding: 0;
		.breadcrumb-item {
			text-transform: capitalize;
			&.active {
				color: #4BB657;
				font-size: 1.8rem;
				line-height: 21px;
				font-weight: normal;
			}
		}
		.breadcrumb-item+.breadcrumb-item::before {
			color: #000;
		}
	}
	.brend {
		font-style: normal;
		font-weight: normal;
		font-size: 1.8rem;
		line-height: 21px;
	}
	.btn_filter {
		border: none;
		background: none;
		font-weight: normal;
		font-size: 1.8rem;
		line-height: 21px;
		padding: 0;
		position: relative;
		&:after {
			content: "";
			display: block;
			background: url("../img/down-arrow.svg") no-repeat;
			width: 15px;
			height: 15px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: -25px;
			transition: all .3s;

		}
		&.btn_filter_active:after {
			transform: translateY(-50%) rotate(180deg);
			transition: all .3s;
		}
	}
	.new__items__filtr {

		.new__items__filtr_form {

			background-color: #F2F2F2;
			padding: 20px 30px;
			.checkbox {
				display: flex;align-items: center;
				
				div {
					width: 20px;
					height: 20px;
					border: 1px solid #000;
					position: relative;
				}
				input {
					display: none;
				}
				input:checked + div:before {
					content: "";
					display: block;
					background: url("../img/correct-mark.svg") no-repeat;
					width: 14px; height: 14px;
					position: absolute;
					display: block;
					left: 50%; top: 50%;
					transform: translateX(-50%) translateY(-50%);

				}
				span {
					padding-left: 10px;
					display: block;
					font-weight: 300;
					font-size: 14px;
					line-height: 16px;
					-webkit-touch-callout: none; /* iOS Safari */
				    -webkit-user-select: none; /* Safari */
				     -khtml-user-select: none; /* Konqueror HTML */
				       -moz-user-select: none; /* Firefox */
				        -ms-user-select: none; /* Internet Explorer/Edge */
				            user-select: none;
				}
			}
		}
		@media (max-width: 991.98px) { 
			& {
				height: 0;
				transition: all .3s;
				overflow: hidden;
				&.active {
					height: auto;
					transition: all .3s;
				}
			}
		}
	}
	.page__only {
		.page__only_first {
			box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
			img {
				width: 100%;
			}
		}
		.page__only_option {
			div {
				display: flex; 
				justify-content: space-between;
			}
			span {
				font-weight: 300;
				font-size: 1.8rem;
				line-height: 21px;
			}
			.page__only_option_first {
				color: #ACACAC;
			}
			.page__only_option_second {
				color: #000;
				
			}
		}
		.page__only_price {
			span {
				font-weight: 500;
				font-size: 2.4rem;
				line-height: 118.19%;
				color: #000000;
			}
		}
	}
	.order {
		flex: 1 0 auto;
		.order__option {
			width: 50%;
			@media(max-width: 991.98px) {
				width: 100%;
			}
		}
		.img { 
			width: 20%; 
			@media(max-width: 991.98px) {
				width: 100%;
			}
		}
		img { width: 100%; }
		.order__item {
			box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
			border-radius: 10px;
			padding: 32px 20px;
			position: relative;
			.form__numbers {
				.form__numbers_val {
					min-width: 25px;
					display: flex;
					justify-content: center;
					align-items:center;
					font-size: 1.8rem;
					line-height: 21px;
				}
			}
			.order__item__close {
				position: absolute;
				right: 15px; top: 15px;
				button{
					border: none;
					border-radius: 0;
					width: 25px;
					height: 25px;
					background: url("../img/error.svg") no-repeat;
				}
			}
		}

		.order__header {
			font-weight: bold;
			font-size: 1.8rem;
			line-height: 21px;
			color: #303030;
		}
		.order__articl {
			font-weight: normal;
			font-size: 1.4rem;
			line-height: 16px;
			color: #ACACAC;
		}
		.order_old_price {
			font-weight: 500;
			font-size: 1.6rem;
			line-height: 19px;
			text-decoration-line: line-through;
			color: #000;
		}
		.order_new_price {
			padding-left: 10px;
			font-weight: 500;
			font-size: 2.4rem;
			line-height: 28px;
			color: #000000;
		}
		.order__final {
			span {
				font-weight: normal;
				font-size: 1.8rem;
				line-height: 21px;
			}
			.order__price,
			.order__val {
				font-weight: 500;
				font-size: 2.4rem;
				line-height: 28px;
			}
		}
		.number__minus, .number__plus {
			border: 1px solid #4BB657;
			width: 25px; height: 25px;
			display: flex; justify-content: center; align-items: center;
			background: none;
			border-radius: 0;
		}
	}
	.form {
		font-size: 1.6rem;
		color: #000;
		line-height: 190%;
		input, textarea {
			width: 100%;
			border: 1px solid #000000;
			padding: 3px 6px;
		}
		.form__header {
			font-weight: bold;
			font-size: 2.4rem;
			line-height: 28px;

			color: #303030;
		}
		.radio {
			width: auto;
			position: absolute;
   			left: -9999px;
		}
		.order {
			background-color: #F2F2F2;
		}
		.order__final span {
			font-weight: bold;
			font-size: 2.4rem;
			line-height: 28px;

			color: #303030;
		}
		button[type='reset'] {
			border: 1px solid #000;
			background: none;
			display: block;
			padding: 8px 18px;
		}
		input[type="radio"]:checked + label, 
		input[type="radio"]:not(:checked) + label {
		    display: inline-block;
		    position: relative;
		    padding-left: 28px;
		    line-height: 20px;
		    cursor: pointer;
		}
		input[type="radio"]:checked + label:before, 
		input[type="radio"]:not(:checked) + label:before {
		    content: "";
		    position: absolute;
		    left: 0px;
		    top: calc(50% - 9px);
		    width: 18px;
		    height: 18px;
		    border: 1px solid #000;
		    background-color: #ffffff;
		}
		input[type="radio"]:checked + label:before, 
		input[type="radio"]:not(:checked) + label:before {
			border-radius: 100%;
		}
		input[type="radio"]:checked + label:after, 
		input[type="radio"]:not(:checked) + label:after {
		    content: "";
		    position: absolute;
		    -webkit-transition: all 0.2s ease;
		    -moz-transition: all 0.2s ease;
		    -o-transition: all 0.2s ease;
		    transition: all 0.2s ease;
		}
		input[type="radio"]:checked + label:after, 
		input[type="radio"]:not(:checked) + label:after {
		    left: 3px;
		    top: calc(50% - 5px);
		    width: 11px;
		    height: 11px;
		    border-radius: 100%;
		}
		input[type="radio"]:checked + label:after, {
			background-color: #6DB64B;
		}
	}
	
}